/* TYPOGRAPHY */
/* 

font-family: 'Open Sans', Arial, sans-serif;


@font-face {
font-family: 'Gilroy Extra Bold';
src: url('Gilroy-ExtraBold.eot');
src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('Gilroy-ExtraBold.woff') format('woff'),
url('Gilroy-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gilroy Light';
src: url('Gilroy-Light.eot');
src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
url('Gilroy-Light.woff') format('woff'),
url('Gilroy-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.user-nav
font-family: OpenSans;
font-size: 15px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.2px;
text-align: left;
color: var(--black);


.site-nav 
font-family: Gilroy;
font-size: 18px;
font-weight: 800;
line-height: 24px;
letter-spacing: 3.6px;
text-align: left;
*/

/* COLORS: 
background-color: #f0c52e; 
opacity: 50%;

*/

html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/Gilroylight.woff2") format("woff2"), 
        url("../fonts/Gilroylight.woff") format("woff"), 
        url("../fonts/Gilroylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
        url("../fonts/Gilroyextrabold.woff2") format("woff2"), 
        url("../fonts/Gilroyextrabold.woff") format("woff"), 
        url("../fonts/Gilroyextrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}


a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0;

}

/* .search-button {
    width: 16px;
    height: 16px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/svg-device/search.svg");
    background-color: transparent;

    margin-right: 20px;
} */






/* HEADER */

.main-header {
    background-color: rgba(240, 197, 46, .5);
    width: 1160px;
    margin: 40px auto 0 auto;
    padding: 0 60px 50px 60px;
}

.main-navigation {
    

}

.main-logo {
    display: block;
    object-fit: contain;
    transform: translateY(-19px); 
}

.main-logo:hover,
.main-logo:focus {
    opacity: .6;
}

.main-logo:active {
    opacity: .3;
}

.user-nav-group {
    display: flex;
    margin-bottom: 50px;
}

.search {
    display: flex;
    margin: 0;
}

.search input[type="text"] {
    padding-left: 36px;
    border: none;
    background-color: transparent;
    background-image: url("../img/svg-device/search.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.search input[type="text"]::placeholder {
    color: rgba(0, 0, 0, .3);
}

.search input[type="text"]:hover::placeholder {
    color: rgba(0, 0, 0, .6);
}

.search input[type="text"]:focus::placeholder,
.search input[type="text"]:active::placeholder {
    color: #000;
}

/* .search input[type="text"]:focus,
.search input[type="text"]:active {
    border-bottom: 2px solid #000;
} */

.search-button {
    display: none;
}

.search input[type="text"]:focus ~ .search-button,
.search input[type="text"]:active ~ .search-button {
    display: block;
}


.user-nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    letter-spacing: 0.2px;
    list-style: none;
}

.user-nav-item {
    position: relative;
    padding-left: 10px;

}
.user-nav-item-user::before,
.user-nav-item-compare::before,
.user-nav-item-cart::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.user-nav-item-user::before {
    background-image: url("../img/svg-device/user.svg");
}

.user-nav-item-compare::before {
    background-image: url("../img/svg-device/compare.svg");
    width: 10px;
    height: 10px;
}

.user-nav-item-cart::before {
    background-image: url("../img/svg-device/cart.svg");
    width: 12px;
    height: 12px;
}

.user-nav-item-log-off {
    opacity: .3;
    padding-left: 0;
    margin-left: -40px;
}

.site-nav-group {
    display: flex;
    align-items: center;
}


.catalog-heading {
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    margin-right: 16px;
}

.catalog-heading:hover,
.catalog-heading:focus {
    opacity: .6;
}

.catalog-heading:active {
    opacity: .3;
}

.catalog-button {
    display: block;
    width: 16px;
    height: 16px;
    opacity: .3;
    background-color: transparent;
    background-image: url("../img/svg-device/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.site-nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}


.site-nav-item a:hover,
.site-nav-item a:focus {
    opacity: .6;
}

.site-nav-item a:active {
    opacity: .3;
}

/* НЕ СДЕЛАНО */
.menu-dropdown {
    opacity: 0;
    list-style: none;
    margin: 0; 
    display: flex;
    flex-direction: column;
}

.menu-dropdown-shown {
    opacity: 1;
    z-index: 100;
}


.menu-dropdown-item {
    line-height: 36px;
    letter-spacing: .2px;
}




/* SLIDER */

.slider {
    width: 1160px;
    margin: 0 auto;
    padding: 0 60px 0 50px;

    position: relative;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    outline: 1px solid red;
}

.slider-item {
    display: none;
}

.slider-item:nth-child(2) {
    display: block;
}

.line {
    width: 100px;
    height: 7px;
}

.line-black {
    width: 80px;
    background-color: #000;
    margin-bottom: 51px;
}
.line-yellow {
    width: 80px;
    background-color: #ffc600;
}






.slider-item::after {
    content: "";
    color: #fff;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;

    position: absolute;
    top: -130px;
    right: 50px;

    z-index: 1;
}

.slider-item:nth-child(1)::after {
    content: "01";
}

.slider-item:nth-child(2)::after {
    content: "02";
}

.slider-item:nth-child(3)::after {
    content: "03";
}



.slider-img {
    transform: translateY(-100px);
}

.slider-img:nth-child(2) {
    margin-right: 139px;
}

.slider-right {
    display: flex;
    flex-direction: column;

    position: relative;
    transform: translateY(-30px);

    z-index: 2;

}

.slider-right::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: #fff;
    top: -45px;

}

.slider-text-group {
    margin-bottom: 55px;
}

.slider-text-big {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
}

.slider-text-small {
    font-family: inherit;
    font-size: inherit;
    line-height: 30px;
    letter-spacing: .15px;
    color: #464646;

    margin: 0;
}

.slider-buttons-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.slider-controls {
    display: flex;
    list-style: none;
    margin: 0;
}

.slider-btn {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/svg-device/slider-button-empty.svg");
}

.slider-btn-active {
    background-image: url("../img/svg-device/slider-button.svg");
}

.slide-radio:not(:last-child) {
    margin-right: 21px;
}


.slider-item-features {

}

.first-row {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: .4px;
    font-weight: 300;
}

.second-row {
    color: #464646;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .1px;
}


/* CATEGORIES */

.categories-section {
    margin: 0 auto;
    padding-bottom: 200px;
    width: 1160px;
}

.categories-list {
    list-style: none;
    display: flex;
}

.categories-item:not(:last-child) {
    margin-right: 40px;
}

.category-icon {
    display: block;
    background-color: rgba(240, 197, 46, .5);
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center; 
    margin-bottom: 35px;
}

.category-icon-vr {
    background-image: url("../img/svg-device/popular-1.svg");
}

.category-icon-monopod {
    background-image: url("../img/svg-device/popular-2.svg");
    background-position: bottom;
}

.category-icon-action {
    background-image: url("../img/svg-device/popular-3.svg");
}

.category-icon-bracelet {
    background-image: url("../img/svg-device/popular-4.svg");
}

.category-icon-watch {
    background-image: url("../img/svg-device/popular-5.svg");
}

.category-icon-drone {
    background-image: url("../img/svg-device/popular-6.svg");
}

.category-caption {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .2px;
    font-weight: 800;
}

/************/



/* SERVICES */
.section-services {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    background-color: #e5e5e5;
    padding: 0 140px;

    /* min-height: 288px; */
}

.services-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 57px 0 81px 0;
    margin: 0;
    margin-right: 117px; 
    position: relative; 

    transform: translateY(-70px);

}

.services-list::after {
    content: "";
    width: 7px;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
}


.services-list li {
    margin-bottom: 35px;
    text-align: left;
   
}

.button-black {
    display: inline-block;
    color: #f0c52e;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #000;
    padding: 10px 132px 9px 19px;

}

/* BTN YELLOW */

.button-yellow {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 220px;
    padding: 8px 0;
    font-family: "Gilroy","Arial",sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    border: 0;
    background-color: transparent;
    z-index: 1;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #f0c52e;
}

.button-yellow:active span {
    opacity: .3;
}


.button-yellow::before {
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    height: 8px;
    content: "";
    background-color: #f0c52e;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* .button-yellow:hover::before
.button-yellow:focus::before {
    height: 100%;
    transition: height .5s;
} */


.button-yellow-medium {
    min-width: 220px;
}

.button-yellow-small {
    width: 160px;
}

.button-yellow-big {
    min-width: 260px;
} 


.services-slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-slider-item {
    position: relative;
    display: flex;
    flex-direction: column;

    display: none;
    
    transform: translateY(-28px);

}

.services-slider-item h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: 40px;
}

.services-slider-item p {
    line-height: 2;
    max-width: 426px;
    margin: 0;
    margin-right: 132px;

}


.services-slider-item:nth-child(3) {
    display: block;
}

.services-slider-item::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    
    left: 100%;
}

.services-slider-item:nth-child(1)::after {
    width: 136px;
    height: 164px;
    background-image: url("../img/svg-device/delivery.svg");
    top: 15px;
}

.services-slider-item:nth-child(2)::after {
    width: 171px;
    height: 194px;
    background-image: url("../img/svg-device/warranty.svg");
    top: -19px;
}

.services-slider-item:nth-child(3)::after {
    width: 156px;
    height: 186px;
    background-image: url("../img/svg-device/credit.svg");
    top: -19px;
}




/* COMPANIES */
.companies-section {
    width: 1440px;
    margin: 0 auto;
    padding: 94px 143px 93px 140px;
}

.companies-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/****************/

/* ABOUT */

.section-about {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 140px 95px 140px;
}

.section-about h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: 55px;
}

.section-about p {
    color: #464646;
    line-height: 30px;
}

.about-us {
    margin-right: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-us p {
    margin: 0;
}

.about-us p:first-of-type {
    margin-bottom: 40px;
}

.about-us p:last-of-type {
    margin-bottom: 50px;
}

.transport-companies-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    margin: 0;
    margin-bottom: 70px;
    list-style: none;
}

.transport-companies-list li {
    position: relative;
}

.transport-companies-list li::before {
    content: "";
    display: block;

    width: 8px;
    height: 8px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    
    top: 50%;
    left: -30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts p {
    margin: 0;
    margin-bottom: 40px;
}

.contacts-map {
    display: block;
    margin: 0;
    margin-bottom: 75px;
}


/****************/


/* MODAL */
.modal-contact {
    display: none;


    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    width: 960px;
    margin: 0 auto;
    padding: 90px 100px;
    outline: 1px solid orangered;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, .2);
    z-index: 1000;
}

.contact-form-group {
    display: flex;
    margin-bottom: 35px;
}

.contact-field {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contact-field:first-child {
    margin-right: 40px;
}

.contact-field label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 10px;
}

.contact-field-name,
.contact-field-email {
    width: 50%;
}

.contact-field textarea {
    margin-bottom: 50px;
}

.contact-field input[type="text"], .contact-field textarea {
    background-color: #f2f2f2;
    border: none;
    padding: 15px 20px; 
}

input[type="text"]::placeholder, 
textarea::placeholder {
    color: rgba(70, 70, 70, .4);
}

.contact-field input[type="text"]:hover, 
.contact-field textarea:hover {
    background-color: #eaeaea;
}

.contact-field input[type="text"]:focus, 
.contact-field textarea:focus,
.contact-field input[type="text"]:active, 
.contact-field textarea:active {
    outline: none; 
    border: 3px solid #f0c52e;
    background-color: #fff;
}


.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
    border-radius: 50%;

    font-size: 0;

    background-color: #f0c52e;
    opacity: .5;
    border: 0;
}

.modal-close::before,
.modal-close::after {
    content: "";
    display: block;

    position: absolute;

    width: 30px;
    height: 3px;

    top: 50%;
    left: 50%;
    
    background-color: #fff;
}

.modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: .3;
}




/******* CATALOG ********/
/* HEADER */

.main-catalog {
    width: 1440px;
    margin: 0 auto;

}

.catalog-header {
    background-color: rgba(240, 197, 46, .5);
    width: 1160px;
    margin: 40px auto 0 auto;
    padding: 0 60px 53px 60px;
}


.catalog-title {
    width: 1160px;
    margin: 0 auto;
    padding: 40px 60px 50px 60px;
}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: 20px;
}


.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1px;
    opacity: .3;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li:not(:last-child) {
    margin-right: 39px;
}


.catalog-content {
    display: flex;
}


/* FILTERS */

.section-filters {
    display: flex;
    flex-direction: column;
}

.section-filters h2 {
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    margin: 0;
    padding: 26px 180px 26px 200px;
    background-color: #d9d9d9;
}

.filter-form {
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    padding: 69px 67px 77px 198px;
    height: 100%;
}

.filter-form legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: .2px;
    margin: 0;
    margin-bottom: 15px;
}

.filter-form fieldset {
    border: none;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
}

.filter-form fieldset::before {
    content: "";
    position: absolute;
    width: 201px;
    height: 2px;
    background-color: #000;
    top: -10px;
}

.filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.filter-list li {
    font-size: 14px;
    line-height: 40px;
    letter-spacing: .1px;
}


/********CHECKBOXES****************/
.filter-input-checkbox {
    display: none;
}

.filter-input-checkbox + label {
    min-height: 23px;
    
    margin-bottom: 23px;
    padding-left: 30px;
    
    position: relative;
    
    float: left;
    user-select: none;
}

.filter-input-checkbox + label:last-of-type {
    margin-bottom: 0;
}

.filter-input-checkbox + label::before {
    content: "";
    
    position: absolute;
    width: 23px;
    height: 27px;
    
    background-image: url("../img/svg-device/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/svg-device/checkbox-on.svg");
}











.sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 139px 25px 74px;
    background-color: #ebebeb;


}

.sorting-container {
    display: flex;
}

.sorting-heading {
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    margin: 0;
    margin-right: 55px;
}


.sorting-criteria-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    line-height: 18px;
}

.sorting-criteria-list li {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    opacity: .3;
}

.sorting-criteria-list .current-criteria {
    opacity: 1;
}

.sorting-criteria-list li:not(:last-child) {
    margin-right: 30px;
}

.sorting-buttons-group {
    
}

.sorting-button {
    opacity: .2;
}

.sorting-button-active {
    opacity: 1;
}


/* CATALOG LIST */

.catalog-section {
    margin: 69px 139px 77px 73px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    
    width: 360px;
    margin-bottom: 49px;
}

.catalog-item:not(:nth-child(2n)) {
    margin-right: 40px;
}

.catalog-item-text {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.catalog-item-text h3 {
    margin: 0;
}

.catalog-item-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: .2px;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: .2px;
    color: #464646;
}

.catalog-item-image {
    order: -1;
    margin: 0;
    margin-bottom: 39px;
}

.new-catalog-item {
    
}

/* PAGINATION */

.pagination-group {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 30px 30px 27px 30px;
    margin-bottom: 77px;

    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
}

.button-back,
.button-forward {
    
}

.pagination-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.pagination-list li {
    /* opacity: .3; */
}

.pagination-list li:not(:last-child) {
    margin-right: 31px;
}

.pagination-item-current {
    /* opacity: 1; */
}



/* FOOTER */

.main-footer {
    background-color: #464646;
    width: 1440px;
    margin:  0 auto;
    padding: 65px 140px 66px 140px;
}

.logo {
    
}

.logo-yellow path {
    fill: #ffc600;
}

.main-footer-top {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.user-nav-footer a {
    color: #fff;
    opacity: .7;
}

.user-nav-footer .user-nav-item-user::before {
    background-image: url("../img/svg-device/user-color.svg");
}

.user-nav-footer .user-nav-item-compare::before {
    background-image: url("../img/svg-device/compare-color.svg");
}

.user-nav-footer .user-nav-item-cart::before {
    background-image: url("../img/svg-device/cart-color.svg");
}


.main-footer-middle {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 65px;
}

.main-footer-middle p {
    margin: 0;
}

.site-nav-footer {
    display: flex;
    margin-left: 0;
    align-items: center;
    width: max-content;
}

.site-nav-footer li:not(:last-child) {
    margin-right: 38px;
}

.site-nav-footer a {
    color: #fff;
}

.main-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-buttons-list {
    display: flex;
    list-style: none;
}

.social-btn:not(:last-child) {
    margin-right: 23px;
}



.social-btn a {
    display: block;
    
    width: 32px;
    height: 32px;
    
    background-repeat: no-repeat;
    background-position: center;

    opacity: .3;
}

.social-btn-facebook a {
    background-image: url("../img/svg-device/fb.svg");
}

.social-btn-instagram a {
    background-image: url("../img/svg-device/instagram.svg");
}

.social-btn-twitter a {
    background-image: url("../img/svg-device/twitter.svg");
}