html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *::before, *::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: normal;

    color: #000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/Gilroylight.woff2") format("woff2"), 
        url("../fonts/Gilroylight.woff") format("woff"), 
        url("../fonts/Gilroylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
        url("../fonts/Gilroyextrabold.woff2") format("woff2"), 
        url("../fonts/Gilroyextrabold.woff") format("woff"), 
        url("../fonts/Gilroyextrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    padding: 0;

    border: none;
    background-color: transparent;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;

    cursor: pointer;
}

.button-yellow {
    position: relative;
    z-index: 1;

    padding: 8px 0;

    color: #000;
}

.button-yellow:active {
   color: rgba(0, 0, 0, 0.3);
}

.button-yellow::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;

    width: 100%;
    height: 8px;

    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);  
            
    background-color: #f0c52e;
}

.button-yellow:hover::before,
.button-yellow:focus::before {
    height: 100%;
    -webkit-transition: height 0.2s linear;
        -o-transition: height 0.2s linear;
        transition: height 0.2s linear;
}

.btn-extra-small {
    min-width: 160px;
}

.btn-small {
    min-width: 200px;
}

.btn-medium {
    min-width: 220px;
}

.btn-big {
    min-width: 260px;
} 

.main-header {
    width: 1160px;
    margin: 40px auto 0;

    background-color: rgba(240, 197, 46, 0.5);
}

.header-wrapper {
    padding: 0 60px 142px;
}

.catalog-header-wrapper {
    padding: 0 60px 28px;
}

.main-logo {
    display: inline-block;
    vertical-align: top;

    -webkit-transform: translateY(-19px);
        -ms-transform: translateY(-19px);
            transform: translateY(-19px); 
}

.main-logo-catalog {
    -webkit-transform: translateY(-17px);
        -ms-transform: translateY(-17px);
            transform: translateY(-17px); 
}

.main-logo:hover,
.main-logo:focus {
    opacity: .6;
}

.main-logo:active {
    opacity: .3;
}

.user-nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: -5px;
    margin-bottom: 28px;
}

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    width: 440px;
}

.header-search {
    width: 100%;
    padding: 10px 0 8px 38px;
    height: 50px;
    border: none;
    border-bottom: 2px solid transparent;

    background-color: transparent;
    background-image: url("../img/svg-device/search.svg");
    background-repeat: no-repeat;
    background-position: 3px 17px;  
}

.header-search::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.15px;
}

.header-search:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.15px;
}

.header-search::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.15px;
}

.header-search::placeholder {
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.15px;
}

.header-search:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header-search:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header-search:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.header-search:focus::-webkit-input-placeholder,
.header-search:active::-webkit-input-placeholder {
    color: #000;
}

.header-search:focus:-ms-input-placeholder,
.header-search:active:-ms-input-placeholder {
    color: #000;
}

.header-search:focus::-ms-input-placeholder,
.header-search:active::-ms-input-placeholder {
    color: #000;
}

.header-search:focus::placeholder,
.header-search:active::placeholder {
    color: #000;
}

.header-search:focus,
.header-search:active {
    opacity: 1;
    border-bottom: 2px solid #000;
    outline: none;
}

.header-search-button {
    display: none;

    height: 50px;
    padding: 0px 18px;
    border: 2px solid #000;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .15px;
    text-transform: none;
    
    color: #000; 
}

.header-search:focus + .header-search-button,
.header-search:active + .header-search-button,
.header-search-button:focus, 
.header-search-button:hover,
.header-search-button:active {
    display: inline-block;
}

.header-search-button:focus, 
.header-search-button:hover {
    color: #fff;
    background-color: #000;
    outline: 0;
}

.header-search-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.user-nav,
.user-nav-catalog,
.user-nav-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 500px;
    padding: 0;
    margin: 0;
    margin-left: auto;

    list-style: none;

    letter-spacing: 0.2px;
}

.user-nav-catalog-header {
    min-width: 500px;
}

.user-nav-item a {
    position: relative;
    padding-left: 25px;
}

.user-nav-item a:hover,
.user-nav-item a:focus {
    opacity: .6;
}

.user-nav-item a:active {
    opacity: .3;
}

.user-nav-item .link-compare {
    padding-left: 21px;
}

.user-nav-item .link-cart {
    padding-left: 21px;
}

.link-user::before,
.link-compare::before,
.link-cart::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 4px;

    width: 13px;
    height: 12px;

    background-repeat: no-repeat;
}

.link-user::before {
    background-image: url("../img/svg-device/user.svg");
}

.user-nav-catalog-header .link-user::before,
.user-nav-catalog .link-user::before {
    top: 2px;
}

.link-compare::before {
    background-image: url("../img/svg-device/compare.svg");
    width: 10px;
    height: 10px;
    top: 6px;
}

.link-cart::before {
    background-image: url("../img/svg-device/cart.svg");
    width: 12px;
    height: 12px;
}

.user-nav-item {
    margin-right: 30px;
}

.user-nav-item:first-child {
    margin-right: auto;
}

.user-nav-item:last-child {
    margin-right: 0;
}

.user-nav-item .link-log-out {
    opacity: 0.3;
    padding-left: 0;
}

.user-nav-index .user-nav-item:nth-child(2) {
    margin-right: 41px;
}

.user-nav-catalog-header .user-nav-item:first-child {
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-nav-catalog-header .link-user {
    margin-right: 15px;
}

.user-nav-catalog-header .link-log-out {
    margin-left: 4px;
}

.user-nav-catalog-header .user-nav-item:nth-child(2) {
    margin-right: 41px;
}

.user-nav-catalog-header .user-nav-item:last-child {
    margin-right: 0px;
}

.site-nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    margin-left: -6px;
}

.catalog-navigation {
    position: relative;
}

.catalog-heading {
    position: relative;

    margin-right: 16px;
    margin-bottom: 20px;
    padding-right: 28px;
    border: 0;

    background-color: transparent;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.catalog-heading:hover,
.catalog-heading:focus {
    opacity: 0.6;
}

.catalog-heading:active {
    opacity: 0.3;
}

.catalog-heading::after {
    content: "";
    display: block;
    position: absolute;

    width: 16px;
    height: 16px;
    
    background-color: transparent;
    background-image: url("../img/svg-device/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    opacity: 0.3;
}

.site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 500px;
    padding: 0;
    margin: 0;
    margin-left: auto;

    list-style: none;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}


.site-nav-item:first-child {
    margin-right: 35px;
}

.site-nav-item:nth-child(2) {
    margin-right: 108px;
}

.site-nav-item:last-child {
    margin-right: 0;
}

.site-nav-item a:hover,
.site-nav-item a:focus {
    opacity: 0.6;
}

.site-nav-item a:active {
    opacity: 0.3;
}

.nav-dropdown {
    display: none;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    position: absolute;
    left: -54px;
    z-index: 7;
    
    width: 1160px;
    margin: 0;
    padding: 0 60px 35px 60px;

    list-style: none;
    
    line-height: 36px;
    letter-spacing: 0.2px;  

    background-color: rgb(247, 226, 150);
}

.catalog-header-wrapper .nav-dropdown {
    width: 1160px;
}

.nav-dropdown-item {
    margin-right: 58px;
}

.nav-dropdown-item:nth-child(2) {
    margin-right: 74px;
}

.nav-dropdown-item-sublist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-dropdown-item-sublist a:hover,
.nav-dropdown-item-sublist a:focus {
    opacity: 0.6;
}

.nav-dropdown-item-sublist a:active {
    opacity: 0.3;
}

.catalog-navigation:hover .nav-dropdown,
.catalog-heading:hover + .nav-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider {
    position: relative;

    width: 1160px;
    margin: 0 auto;
    padding: 0; 
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0 60px 0 90px;
}

.slider-item:nth-child(3) .slider-container {
    padding-left: 0;
}

.slider-item {
    min-height: 486px;
}

.slider-controls {
    position: absolute;
    z-index: 20;
    bottom: 258px;
    right: 62px;
    
    font-size: 0;
}

.slider-controls label {
    position: relative;
    display: inline-block;
    vertical-align: top;

    width: 12px;
    height: 12px;
    margin-right: 21px;
    
    border: 1px solid #000;
    border-radius: 50%;

    background-color: transparent;
    
    cursor: pointer;
  }

#slide-1,
#slide-2,
#slide-3 {
    display: none;
  }

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
    display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"]::before,
#product-2:checked ~ .slider-controls label[for="product-2"]::before,
#product-3:checked ~ .slider-controls label[for="product-3"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;
    border: 1px solid #050505;
    border-radius: 50%;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}

.slider-item::after {
    content: "";
    position: absolute;
    top: -125px;
    right: 47px;
    z-index: 1;
    
    text-align: right;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    
    color: #fff;
}

.slider-item:nth-child(1)::after {
    content: "01";
}

.slider-item:nth-child(2)::after {
    content: "02";
}

.slider-item:nth-child(3)::after {
    content: "03";
}

.slider-img {
    position: relative;
    top: -111px;

    height: 100%;
    margin-right: 125px;
}

.slider-item:nth-child(2) .slider-img {
    top: -99px;
    left: 26px;
    margin-right: 164px;
}

.slider-item:nth-child(3) .slider-img {
    top: -46px;
    left: 31px;
    margin-right: 73px;
}

.slider-right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    top: -32px;
    min-width: 534px;
}

.slider-right::before {
    content: "";
    position: absolute;
    top: -43px;

    width: 100px;
    height: 7px;

    background-color: #fff;  
}

.slider-text-group {
    margin-bottom: 43px;
}

.slider-text-big {
    position: relative;
    z-index: 5;

    margin: 0;
    margin-bottom: 18px;

    text-align: left;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0.5px; 
}

.slider-text-small {
    width: 490px;
    margin: 0;

    font-family: inherit;
    font-size: inherit;
    line-height: 30px;
    letter-spacing: 0.15px;

    color: #464646;
}

.slider-item:nth-child(2) .slider-text-small {
    width: 450px;
}

.slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 49px;
}

.slider-item-features {
    margin-left: -2px;
}

.slider-item-features tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300; 
    line-height: 48px;
    letter-spacing: 0.4px;   
}

.slider-item-features td {
    display: inline-block; 
    vertical-align: top;  

    padding: 0; 
}

.first-row td {
    margin-bottom: 7px;
}

.first-row td:not(:last-child) {
    margin-right: 77px;
}

.first-row-slide-3 td:not(:last-child) {
    margin-right: 60px;
}

.second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;

    color: #464646;
}

.second-row td:not(:last-child) {
    margin-right: 81px;
}

.second-row-slide-3 td:not(:last-child) {
    margin-right: 48px;
}

.categories-section {
    width: 1160px;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 63px;
}

.categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none; 
}

.category-icon-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: rgba(240, 197, 46, 0.5);
}

.icon-vr {
    padding-right: 1px;
    padding-bottom: 2px;
}

.icon-selfie {
    padding-bottom: 2px;
    padding-left: 1px;
}

.icon-camera {
    padding-top: 3px;
    padding-left: 8px;
}

.icon-fitness {
    padding-top: 4px;
    padding-left: 3px;
}

.icon-watch {
    padding-top: 1px;
    padding-left: 5px;
}

.icon-drone {
    padding-top: 6px;
    padding-right: 2px;
}

.categories-list li:nth-child(2) .category-icon-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.category-caption {
    width: 160px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 800;
}

.categories-item:hover .category-icon-wrapper,
.categories-item:focus .category-icon-wrapper,
.categories-item:active .category-icon-wrapper {
    background-color: #f0c52e;
}

.categories-item:active .category-icon,
.categories-item:active .category-caption {
    opacity: 0.3;
}

.section-services {
    width: 1440px;
    min-height: 390px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding: 0 140px;

    background-image: -webkit-linear-gradient(transparent 0, transparent 100px,#e5e5e5 100px);

    background-image: -o-linear-gradient(transparent 0, transparent 100px,#e5e5e5 100px);

    background-image: linear-gradient(transparent 0, transparent 100px,#e5e5e5 100px);
}

.services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.services-slider-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    min-width: 285px;
    margin: 0;
    margin-right: 116px; 
    padding: 80px 0 45px;
    border-right: 7px solid #000;
    
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
}

.services-slider-control {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 25px;

    text-align: center;
}

.services-slider-control-active {
    width: 100%;
    padding-left: 19px;

    text-align: left;

    color: #f7e184;
    background-color: #000;
}

.services-slider-control-active::before {
    display: none;
}

.services-slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-slider-item {
    display: none;
}

.services-slider-item:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    padding-top: 73px;
}

.services-slider-item-wrapper {
    margin-right: 131px;
}

.services-slider-item h3 {
    margin: 0;
    margin-bottom: 30px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;  
}

.services-slider-item p {
    max-width: 426px;
    margin: 0;

    line-height: 2;
    letter-spacing: 0.15px;
}

.services-slider-item:first-child img {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
}

.services-slider-item:nth-child(2) img,
.services-slider-item:nth-child(3) img {
    -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
            transform: translateY(-12px);
}

.services-slider-item:nth-child(2) .services-slider-item-wrapper {
    margin-right: 106px;
}

.services-slider-item:nth-child(2) p {
    min-width: 436px;
}

.services-slider-item:nth-child(3) .services-slider-item-wrapper {
    margin-right: 107px;
}

.brands-section {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 94px;
}

.brands-list { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
}

.brand-item {
    position: relative;
}

.brand-item:last-child {
    margin-right: auto;
}

.brand-item:nth-child(4) {
    margin-right: 0;
}

.brand-item-image {
    display: block;

    opacity: 1;

    -webkit-transition: all 0.2s;

    -o-transition: all 0.2s;

    transition: all 0.2s;
}

.brand-item-image-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    -webkit-transition: all 0.2s;

    -o-transition: all 0.2s;

    transition: all 0.2s;
}

.brand-item a:hover .brand-item-image-hover {
    opacity: 1;
}

.brand-item a:hover .brand-item-image {
    opacity: 0;
}

.section-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 1160px;
    margin: 0 auto;
    margin-bottom: 82px;
}

.section-about h3 {
    margin: 51px 0 43px;
    margin-left: -3px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.section-about p {
    line-height: 30px;
    color: #464646;
}

.about-us {
    position: relative;
    width: 560px;
}

.about-us::before,
.contacts::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;

    height: 8px;
    width: 80px;

    background-color: #000; 
}

.about-us p {
    margin: 0;
    margin-right: 85px;
}

.about-us p:first-of-type {
    margin-bottom: 30px;
}

.about-us p:last-of-type {
    margin-bottom: 66px;
}

.transport-companies-list {
    margin: 0;
    margin-bottom: 54px;
    padding-left: 35px;

    list-style: none;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
}

.transport-companies-list li {
    position: relative;
}

.transport-companies-list li::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    width: 8px;
    height: 8px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    
    background-color: transparent; 
}

.contacts {
    position: relative;
    width: 560px;
}

.contacts p {
    margin: 0;
    margin-bottom: 38px;
    margin-left: -2px;
}

.contacts-map {
    display: block;
    margin: 0;
    margin-bottom: 67px;

    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    width: 960px;
    margin: 0 auto;

    -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

            box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(-50%, -50%) translateY(-2000px);
                transform: translate(-50%, -50%) translateY(-2000px);
    }
    
    70% {
        -webkit-transform: translate(-50%, -50%) translateY(30px);
                transform: translate(-50%, -50%) translateY(30px);
    }

    90% {
        -webkit-transform: translate(-50%, -50%) translateY(-10px);
                transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateY(0);
                transform: translate(-50%, -50%) translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translate(-50%, -50%) translateY(-2000px);
                transform: translate(-50%, -50%) translateY(-2000px);
    }
    
    70% {
        -webkit-transform: translate(-50%, -50%) translateY(30px);
                transform: translate(-50%, -50%) translateY(30px);
    }

    90% {
        -webkit-transform: translate(-50%, -50%) translateY(-10px);
                transform: translate(-50%, -50%) translateY(-10px);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateY(0);
                transform: translate(-50%, -50%) translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translate(-50%, -50%) translateX(0);
              transform: translate(-50%, -50%) translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate(-50%, -50%) translateX(-10px);
              transform: translate(-50%, -50%) translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate(-50%, -50%) translateX(10px);
              transform: translate(-50%, -50%) translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translate(-50%, -50%) translateX(0);
              transform: translate(-50%, -50%) translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translate(-50%, -50%) translateX(-10px);
              transform: translate(-50%, -50%) translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translate(-50%, -50%) translateX(10px);
              transform: translate(-50%, -50%) translateX(10px);
    }
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal-contact {
    padding: 90px 100px;
    padding-bottom: 78px;

    background-color: #fff;
}

.modal-map {
    background-color: #ebebeb;
}

.contact-form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
}

.contact-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: 0;
}

.contact-field:first-child {
    margin-right: 40px;
}

.contact-field label {
    margin-bottom: 7px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
}

.contact-field-name,
.contact-field-email {
    width: 50%;
}

.contact-field input[type="text"], 
.contact-field textarea {
    padding: 12px 17px; 
    padding-bottom: 15px;

    border: 3px solid transparent;

    background-color: #f2f2f2;
}

.contact-field textarea {
    margin-bottom: 40px;
    padding-bottom: 19px;
}

input[type="text"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

input[type="text"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

input[type="text"]::-ms-input-placeholder, 
textarea::-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

input[type="text"]::placeholder, 
textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-field input[type="text"]:hover, 
.contact-field textarea:hover {
    background-color: #eaeaea;
}

.contact-field input[type="text"]:focus, 
.contact-field textarea:focus,
.contact-field input[type="text"]:active, 
.contact-field textarea:active {
    outline: none; 
    border: 3px solid #f0c52e;
    background-color: #fff;
}

.contact-field input[type="text"]:focus::-webkit-input-placeholder, 
.contact-field textarea:focus::-webkit-input-placeholder,
.contact-field input[type="text"]:active::-webkit-input-placeholder, 
.contact-field textarea:active::-webkit-input-placeholder {
    color: #464646;
}

.contact-field input[type="text"]:focus:-ms-input-placeholder, 
.contact-field textarea:focus:-ms-input-placeholder,
.contact-field input[type="text"]:active:-ms-input-placeholder, 
.contact-field textarea:active:-ms-input-placeholder {
    color: #464646;
}

.contact-field input[type="text"]:focus::-ms-input-placeholder, 
.contact-field textarea:focus::-ms-input-placeholder,
.contact-field input[type="text"]:active::-ms-input-placeholder, 
.contact-field textarea:active::-ms-input-placeholder {
    color: #464646;
}

.contact-field input[type="text"]:focus::placeholder, 
.contact-field textarea:focus::placeholder,
.contact-field input[type="text"]:active::placeholder, 
.contact-field textarea:active::placeholder {
    color: #464646;
}

.contact-field input[type="text"]:invalid, 
.contact-field textarea:invalid {
    background-color: #f6dada;
}

.contact-field input[type="text"]:invalid::-webkit-input-placeholder, 
.contact-field textarea:invalid::-webkit-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-field input[type="text"]:invalid:-ms-input-placeholder, 
.contact-field textarea:invalid:-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-field input[type="text"]:invalid::-ms-input-placeholder, 
.contact-field textarea:invalid::-ms-input-placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.contact-field input[type="text"]:invalid::placeholder, 
.contact-field textarea:invalid::placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 22px;

    width: 55px;
    height: 55px;
    border-radius: 50%;

    font-size: 0;

    background-color: #f0c52e;
    opacity: 0.5; 
}

.modal-close::before,
.modal-close::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 30px;
    height: 3px;

    background-color: #fff;
}

.modal-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.main-catalog {
    width: 1440px;
    margin: 0 auto;
}

.catalog-header {
    width: 1160px;
    margin: 40px auto 0;
    padding: 0 60px 53px;

    background-color: rgba(240, 197, 46, 0.5);
}

.catalog-title {
    width: 1160px;
    margin: 0 auto;
    padding: 38px 60px 46px;
}

.page-title {
    margin: 0;
    margin-bottom: 24px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.breadcrumbs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    padding: 0;
    margin: 0;

    list-style: none;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item a {
    opacity: 0.3;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
    opacity: 0.6;
}

.breadcrumbs-item a:active {
    opacity: 0.1;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 18px;
    padding-right: 20px;
}

.breadcrumbs-item:nth-child(2) {
    margin-right: 14px;
    padding-right: 23px;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    width: 4px;
    height: 7px;

    background-image: url("../img/svg-device/nav-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.catalog-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.section-filters h2 {
    margin: 0;
    padding: 23px 180px 23px 200px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    
    background-color: #d9d9d9;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    height: 100%;
    padding: 80px 67px 77px 198px;
    
    background-color: #ebebeb;
}

.filter-form legend {
    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.filter-form .price-set,
.filter-form .color-set,
.filter-form .bluetooth-set {
    position: relative;

    margin: 0;
    padding: 0;
    
    border: none;
}

.filter-form .price-set {
    margin-bottom: 46px;
}

.filter-form .color-set {
    margin-bottom: 42px;
}

.filter-item {
    position: relative;
}

.filter-item::before {
    content: "";
    position: absolute;
    top: -11px;

    width: 201px;
    height: 2px;

    background-color: #000;
}

.filter-item:last-of-type {
    margin-bottom: 30px;
}

.price-set legend  {
    margin-bottom: 35px;
}

.price-controls {
    height: 24px;
    font-size: 0;
}

.price-controls label {
    display: inline-block;

    vertical-align: top;

    font-size: 14px;
    line-height: 24px;
    
    opacity: 0.2;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 60px;
}

.price-controls .min-price {
    margin-left: 2px;
}

.price-controls .max-price {
    margin-left: 30px;
}

.price-controls input {
    width: 40px;
    margin: 0;

    border: none;
  
    color: inherit;
    font: inherit;
  
    background: none;
  }

  .range-controls {
    position: relative;

    margin-bottom: 9px;
    margin-left: -5px;
  }

  .range-controls .scale {
    height: 2px;
    background: #dbdbdb;
  }

  .range-controls .bar {
    width: 55%;
    height: 2px;
    background: #91c92f;
  }

  .range-toggle {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    border-radius: 50%;

    background: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

    cursor: pointer;
  }

  .range-toggle:active {
    border: 9px solid #fff;
  }

  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 55%;
  }

  .color-set legend {
    margin-bottom: 20px;
  }

.filter-checkbox-list,
.filter-radio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    list-style: none;

    margin: 0;
    padding: 0; 
}

.filter-checkbox-list li,
.filter-radio-list li {
    padding-left: 12px;

    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.1px;
}

.filter-input-checkbox {
    display: none;
}

.filter-input-checkbox + label {
    position: relative;
    float: left;

    min-height: 23px;
    margin-bottom: 23px;
    padding-left: 28px;
    
    -webkit-user-select: none;
    
       -moz-user-select: none;
    
        -ms-user-select: none;
    
            user-select: none;
    cursor: pointer;
}

.filter-input-checkbox + label:last-of-type {
    margin-bottom: 0;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    width: 25px;
    height: 27px;
    
    background-image: url("../img/svg-device/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;   
}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/svg-device/checkbox-on.svg");
}

.filter-input-checkbox:hover + label::before,
.filter-radio-input:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-radio-input:focus + label::before {
    opacity: 0.6;
}

.filter-input-checkbox:active + label::before,
.filter-radio-input:active + label::before {
    opacity: 1;
}

.filter-input-checkbox:disabled + label,
.filter-radio-input:disabled + label {
    opacity: 0.2;
}

.filter-input-checkbox:disabled + label::before,
.filter-radio-input:disabled + label::before {
    opacity: 0.2;
}

.bluetooth-set legend {
    margin-bottom: 18px;
}

.filter-radio-input {
    display: none;
}

.filter-radio-input + label {
    position: relative;
    float: left;

    min-height: 23px;
    padding-left: 28px;
    
    -webkit-user-select: none;
    
       -moz-user-select: none;
    
        -ms-user-select: none;
    
            user-select: none;
    cursor: pointer;
}

.filter-radio-input + label::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    width: 25px;
    height: 27px;
    
    background-image: url("../img/svg-device/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-radio-input:checked + label::before {
    background-image: url("../img/svg-device/radio-on.svg");
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding: 22px 139px 24px 74px;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    
    background-color: #ebebeb;
}

.sorting-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sorting-heading {
    margin: 0;
    margin-right: 55px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px; 
    text-transform: uppercase;
}

.sorting-criteria-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    line-height: 18px;
}

.sorting-criteria-list-item a {
    text-align: left;

    font-size: 14px;
    line-height: 18px;
    
    color: rgba(0, 0, 0, 0.3);
}

.current-criteria a {
    color: #000;
}

.sorting-criteria-list-item:not(:last-child) {
    margin-right: 30px;
}

.sorting-criteria-list-item a:hover,
.sorting-criteria-list-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-criteria-list-item a:active {
    color: #000;
}

.sorting-buttons-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.sorting-button {
    opacity: 0.2;
}

.sorting-button:hover,
.sorting-button:focus {
    opacity: 0.4;
}

.sorting-button:active {
    opacity: 1;
}

.sorting-button:not(:last-child) {
    margin-right: 18px;
}

.sorting-button-active {
    opacity: 1;
}

.catalog-section {
    padding: 69px 139px 0 72px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 760px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    width: 360px;
    margin-bottom: 47px;
}

.catalog-item:not(:nth-child(2n)) {
    margin-right: 40px;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
    margin-bottom: 35px;
}

.catalog-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
}

.catalog-item-text h3 {
    margin: 0;
}

.catalog-item-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.catalog-item-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;

    color: #464646;
}

.catalog-item-price span {
    margin-right: 4px;
}

.catalog-item-image-wrapper {
    position: relative;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    
    margin-bottom: 29px;
}

.catalog-item-image {
    margin: 0;
}

.catalog-item-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 380px;
    padding: 170px 80px 130px;

    text-align: center;

    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-image-wrapper:hover .catalog-item-hover,
.catalog-item-image-wrapper:focus .catalog-item-hover {
    display: block; 
}

.btn-catalog {
    width: 200px;
}

.catalog-item-add {
    margin-top: 30px;

    font-size: 13px;
    line-height: 36px;
    letter-spacing: 0.1px;

    color: rgba(0, 0, 0, 0.5);
}

.catalog-item-add:hover,
.catalog-item-add:focus {
    color: #000;
}

.catalog-item-add:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item-new {
    display: none;
    position: absolute;
    top: 27px;
    right: 26px;

    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;

    text-align: center;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: .7px;
    text-transform: uppercase;
    
    color: #000;
    opacity: 0.2;
}

.catalog-item-new-active {
    display: block;
}

.pagination-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    margin-bottom: 77px;

    font-family: "Gilroy", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;

    background-color: #ebebeb;
}

.button-back,
.button-forward {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
}

.button-back {
    padding: 24px 39px 22px 30px;
}

.button-forward {
    padding: 24px 30px 22px 31px;
}

.button-back:hover,
.button-forward:hover,
.button-back:focus,
.button-forward:focus {
    background-color: #d9d9d9;
}

.button-back:active,
.button-forward:active {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item {
    opacity: 0.3;
}

.pagination-item:hover,
.pagination-item:focus {
    opacity: 0.6;
}

.pagination-item:active {
    opacity: 1;
}

.pagination-item-current {
    opacity: 1;
}

.pagination-item:first-child {
    margin-left: 4px;
}

.pagination-item:not(:last-child) {
    margin-right: 27px;
}

.footer-main,
.footer-catalog {
    width: 1440px;
    margin: 0 auto;
    padding: 66px 140px;

    background-color: #464646;
}

.footer-catalog {
    padding: 65px 140px 66px;
}

.logo-footer path {
    fill: #ffc600;
}

.logo-footer:hover,
.logo-footer:focus {
    opacity: 0.6;
}

.logo-footer:active {
    opacity: 0.3;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 32px;
}

.user-nav-catalog .user-nav-item:first-child {
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-nav-catalog .link-user {
    margin-right: 13px;
    padding-left: 26px;
}

.user-nav-catalog .link-log-out {
    margin-left: 4px;
}

.user-nav-catalog .user-nav-item:nth-child(2) {
    margin-right: 38px;
}

.user-nav-catalog .user-nav-item:last-child {
    margin-right: 0px;
    margin-left: 4px;
}

.user-nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-bottom: 13px;

    list-style: none;
    letter-spacing: 0.2px;
}

.user-nav-footer .user-nav-item:not(:last-child) {
    margin-right: 37px;
}

.user-nav-footer .user-nav-item:first-child {
    margin-right: 34px;
}

.user-nav-footer .user-nav-item:nth-child(2) {
    margin-left: 10px;
}

.user-nav-footer .user-nav-item:nth-child(3) {
    margin-left: 3px;
}

.user-nav-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.user-nav-footer .link-user::before {
    background-image: url("../img/svg-device/user-color.svg");
}

.user-nav-footer .link-compare::before {
    width: 10px;
    height: 10px;
    background-image: url("../img/svg-device/compare-color.svg");
}

.user-nav-footer .link-cart::before {
    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/cart-color.svg");
}

.user-nav-footer a:hover,
.user-nav-footer a:focus {
    color: #fff;
}

.user-nav-footer a:hover::before ,
.user-nav-footer a:focus::before {
    opacity: 0.6;
}

.user-nav-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}

.user-nav-footer a:active::before {
    opacity: 0.3;
}

.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 62px;

    color: #fff;
}

.footer-middle p {
    margin: 0;
}

.site-nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    width: 500px;
    padding: 0;
    margin: 0;
    margin-left: 34px;

    list-style: none;
    
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase; 
}

.site-nav-footer .site-nav-item-footer {
    margin: 0; 
}

.site-nav-footer .site-nav-item-footer:not(:last-child) {
    margin-right: 35px;
}

.site-nav-footer .site-nav-item-footer:nth-child(2) {
    margin-right: 31px;
}

.site-nav-item-footer a:hover,
.site-nav-item-footer a:focus {
    opacity: 0.6;
}

.site-nav-item-footer a:active {
    opacity: 0.3;
}

.site-nav-footer a {
    color: #fff;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.line-yellow {
    height: 7px;
    width: 80px;

    background-color: #ffc600;
}

.social-buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    padding-bottom: 2px;
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-transform: translateX(-27px);

        -ms-transform: translateX(-27px);

            transform: translateX(-27px); 
}

.social-btn:not(:last-child) {
    margin-right: 23px;
}

.social-btn a {
    display: block;
    
    width: 32px;
    height: 32px;
    
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.3;
}

.social-btn-facebook a {
    background-image: url("../img/svg-device/fb.svg");
}

.social-btn-instagram a {
    background-image: url("../img/svg-device/instagram.svg");
}

.social-btn-twitter a {
    background-image: url("../img/svg-device/twitter.svg");
}

.social-btn a:hover,
.social-btn a:focus {
    opacity: 0.6;
}

.social-btn a:active {
    opacity: 0.1;
}

.academy-logo-footer:hover,
.academy-logo-footer:focus {
    opacity: 0.6;
}

.academy-logo-footer:active {
    opacity: 0.3;
}